[alias]
    one = show -s --pretty='format:%h (%s)'
    pr = pull-request
[user]
	name = lbodor
	email = lazar.bodor@ga.gov.au
[pull]
    rebase = true
[push]
	default = simple
[rebase]
    autosquash = true
    autostash = true
